## The Data: Rocket Fuel Ad Campaign <a id='section3'></a>

Rocket Fuel Inc. (NASDAQ: FUEL), works in digital advertising offering a "Programmatic Marketing Platform" that claims to optimize digital marketing through big data and machine learning techniques.

In 2015, Rocket Fuel ran a trial ad campaign for handbag manufacturer TaskBella. TaskBella was interested in answering two questions:

- Would the campaign be successful?
- If the campaign was successful, how much of that success could be attributed to the ads?

With the second question in mind, they agreed to run an A/B test. The majority of the people exposed to Rocket Fuel's content delivery network would see TaskBella's handbag ad (the experimental group). But, a small portion of people (the control group) would instead see a Public Service Announcement (PSA) in the exact size and place the ad would normally be.
 
In this notebook, we'll duplicate some of their analysis. First, we'll look at whether there is any difference between the two groups.


## 3. DataFrames <a id='section3'></a>

The last notebook covered four basic concepts of Python: expressions, names, functions, and sequences. In this next section, we'll see just how much we can do to examine and manipulate our data with only these minimal Python skills.

To work with our data, we're going to use a free Python library (collection of code) called **Pandas**. Pandas contains many many functions and other code useful for working with tabular data. The name is an abbreviation of "panel data". It is commonly used in industry and research for data analysis.

Run the next cell to import Pandas so we can use it. We're going to give Pandas the standard **alias** "pd" so that we don't have to type the whole name every time we want to use it.

In [1]:
# load necessary software: THIS CELL MUST BE RUN
import pandas as pd
import numpy as np
%matplotlib inline

## 3a.  Reading in data<a id='section3a'></a>

Real-life data is often stored in spreadsheets, including our Rocket Fuel data, which is in a *csv* (*comma-separated-values*) file. 

Pandas has a function called `read_csv` which we can use to load our data. To use any Pandas function, we will use **dot notation**: first we type `pd` so the computer knows to look in the Pandas library, then we type the name of the function we want, separated by a dot.

The `read_csv` function takes one argument: a string with the location of the csv file. The location can be either a URL or a local file path.

In [12]:
# run this cell to load the data
ads = pd.read_csv('data/rocketfuel_data_renamed.csv', index_col=0)

# display the first 5 rows of the ads data
ads.head()

        test group  converted  total ads most ads day  most ads hour
user id
1069124         ad          0        130        1:Mon             20
1119715         ad          0         93       2:Tues             22
1144181         ad          0         21       2:Tues             18
1435133         ad          0        355       2:Tues             10
1015700         ad          0        276        5:Fri             14

Our data is now contained in a Pandas object called a **DataFrame**. The rest of this notebook deals with how to work with DataFrames.

As a reminder, here's the **data dictionary**, which explains what each column in the DataFrame contains.

| user id                             | test group                                                                                                        | converted                                | total ads                                           | most ads day                                                     | most ads hour                                                        |
|-------------------------------------|-------------------------------------------------------------------------------------------------------------------|------------------------------------------|-----------------------------------------------------|------------------------------------------------------------------|----------------------------------------------------------------------|
| The unique identifier for that user |  Which testing group the user was in: "ad"- where users saw the ads (the experimental group) or "psa"- where users saw the PSAs (the control)| Whether or not the user bought a handbag (True if they did, False if they didn't)| The total number of ads (or PSAs) seen by that user | The day of the week on which the user saw the most ads (or PSAs) | The hour of the day during which the user saw the most ads (or PSAs) |

## 3b. Explore the data: attributes and methods <a id='section3b'></a>

Before we start working with the data, we should know a bit about it.

### Attributes

Every DataFrame has **attributes** that give information about it, like the number of rows and the number of columns. Attributes are accessed using the dot method. But, since an attribute doesn't perform an operation, there are no parentheses (like there would be in a call expression that calls a function).

Here's an example. The `columns` attribute returns a list of the names of the columns in the DataFrame.

In [3]:
# get the names of columns
ads.columns

Index(['test group', 'converted', 'total ads', 'most ads day',
       'most ads hour'],
      dtype='object')

<div class="alert alert-warning"><b>EXERCISE: </b>One extremely useful attribute is `shape`, which returns the number of rows and columns in the DataFrame, separated by commas. In the next cell, get the `shape` attribute from the `ads` DataFrame.</div>

In [4]:
# get the shape of the DataFrame
data_shape = ads.shape
data_shape

(588101, 5)

### Methods

A **method** is a lot like a function:
- methods perform operations
- methods are called using a set of parentheses
- methods may have a set of arguments

But, a method is associated with an object like a DataFrame. Functions are not associated with any Python object.

Methods are called using dot notation. The name of the DataFrame comes before the dot, and the method comes after, followed by the parentheses. If the method takes any arguments, those go inside the parentheses.

Here's an example of the `head` method, which shows the first ten rows of the DataFrame.

In [ ]:
# show the first five rows of the DataFrame
ads_head = ads.head()
ads_head

<div class="alert alert-warning"><p><b>EXERCISE:</b> the `describe` method is incredibly useful for learning about your data. `describe` returns summary statistics about the numerical data in your DataFrame: things like the count of non-empty items in each column, the average, the minimum, and the maximum. </p>

<p>In the next cell, call the `describe` method on your DataFrame. This call will look very similar to the example where the `head` method was called; only the name of the method changes.</p></div>

In [ ]:
# use dot notation to call "describe" on the ads table in place of the ellipses
ads_description_MJ = ads.describe()
ads_description_MJ

## 3c. Selecting columns <a id='section3c'></a>

Suppose we want to answer the question of whether the ad campaign was profitable. Not all of our columns are relevant to this question, like `"most ads hour"`. We can save computational resources and avoid confusion by *transforming* our table before we start work.

We can access a single column using **indexing**, like we did with sequences in Notebook 02. In Notebook 02, we indexed items from an array by their numerical position:

In [ ]:
# an array of prices
prices = np.array([105.99, 99.99, 119.95, 130, 124.99])

# index the item in position 2 of the array
prices[2]

We can index a column from a DataFrame by its name. Put the string name of the column inside square brackets to the right of the DataFrame to index it.

<div class="alert alert-info">Remember, a string must be surrounded by matching quotation marks.</div>

In [ ]:
# index the total ads column
total_ads_col = ads["total ads"]
total_ads_col

<div class= "alert alert-warning"><b>EXERCISE</b>: Use square brackets to index the "converted" column.</div>

In [ ]:
# index the "converted" column
converted_col = ads["converted"]
converted_col

## 3d. Filtering rows <a id='section3d'></a>
Some analysis questions only deal with a subset of rows. How often do users convert when they saw the most ads during business hours (8AM-5PM)? What was the total number of ads seen by the control group? Was the conversion rate greater when users saw more ads on Monday than on Tuesday?

To filter rows, we need to use **Boolean operators**. To review from Notebook 02, a **Boolean** is a data type that has only two possible values: `True` or `False`. Booleans show up in bold green in the notebook.

In [ ]:
# Boolean values
True

False

**Boolean operators** are operators that have the result of `True` or `False`.

| Operator | Meaning                    | What it does                                                                           |
|----------|----------------------------|----------------------------------------------------------------------------------------|
| ==       | "equal to"                 | returns `True` if the item on the left is equal to the item on the right               |
| >        | "greater than"             | returns `True` if the item on the left is larger than the item on the right            |
| <        | "less than"                | returns `True` if the item on the left is smaller than the item on the right           |
| >=       | "greater than or equal to" | returns `True` if the item on the left is larger or the same as the item on the right  |
| <=       | "less than or equal to"    | returns `True` if the item on the left is smaller or the same as the item on the right |

Here's an example of using a Boolean operator on some numbers:

In [ ]:
# compare two numbers to see if the first one is bigger
100 > 99

We can also use a Boolean operator on a column, to make a comparison for each item in the column.

In [ ]:
# get the "most ads day" column
total_ads = ads["most ads day"]

# show the first 5 items of the "most ads day" column
total_ads.head()

In [ ]:
# check whether the day someone saw the most ads was Monday
total_ads == "1:Mon"

If we index a DataFrame or column by an array of Booleans, we will get only the rows or items for which the condition is True.

In [ ]:
# get rows with users who saw the most ads on Monday
monday_ads = ads[ads["most ads day"] == "1:Mon"]
monday_ads

This syntax can be a bit confusing. Note that 
* the part outside of the square brackets to the left is the DataFrame out of which we want to filter rows
* everything in the square brackets is the condition we want to use to filter rows

Here's another example. Outside of the brackets is the `ads` DataFrame, from which we want only certain rows. Inside the brackets is the condition to select the rows: we want to see only the users who saw more than 500 ads, so we're selecting the "total ads" column and using `>` to see which items have a value of more than 500.

In [ ]:
# example 2: get all rows that had more than 500 total ads
ads[ads["total ads"] > 500]

<div class="alert alert-warning"><p><b>EXERCISE:</b> 
Oftentimes, we want to calculate statistics separately for the control and experimental groups. Create two tables, one containing only rows where the user was in the `"ad"` group (the experimental group) and one with only rows where the user was in the `"psa"` group (the control group).</p>

<p>Hint: We've given you the code to create this for the experiment group. Fill in the appropriate value to select users who did NOT see ads.</p>

In [12]:
# users in the experiment group
experiment = ads[ads["test group"] == "ad"]
experiment.head()

        test group  converted  total ads most ads day  most ads hour
user id
1069124         ad          0        130        1:Mon             20
1119715         ad          0         93       2:Tues             22
1144181         ad          0         21       2:Tues             18
1435133         ad          0        355       2:Tues             10
1015700         ad          0        276        5:Fri             14

In [11]:
# users in the control group
# fill in the ellipses with the correct text to select users who saw psas
control = ads[ads["test group"] == "psa"]
control.head()

        test group  converted  total ads most ads day  most ads hour
user id
900681         psa          0        248        6:Sat             19
905704         psa          0         27      4:Thurs              8
904595         psa          0         13       2:Tues             19
901904         psa          0         32        3:Wed             19
902234         psa          0        105       2:Tues             19

In [13]:
experiment = ads[ads["test group"] == "ad"]
total_ads = experiment["total ads"]
max_value = total_ads.max()
max_value

2065

In [14]:
control = ads[ads["test group"] == "psa"]
total_ads = control["total ads"]
max_control_value = total_ads.max()
max_control_value

907